@page "/counter"
@using Nodes.Components
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using Newtonsoft;
@using System.IO;

<PageTitle>Json Convert</PageTitle>

<h1>Converter</h1>

<DragDropList TItem="NodeDTO"
               Items="TopLevelItems"
               Context="team"
               AllowsDrag="true">
    <ItemTemplate>
        <TeamComponent team="@team"></TeamComponent>
    </ItemTemplate>
</DragDropList>
<button @onclick="PrintJson">
    Print Json
</button>

@code 
{
    public List<NodeDTO> TopLevelItems = new List<NodeDTO>();

    private void PrintJson()
    {
        string ser1 = JsonSerializer.Serialize(TopLevelItems);
        Console.WriteLine(ser1);

        var oClass = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(ser1);

    }
    



    protected override void OnInitialized()
    {
        var test = new NodeDTO();
        test.Name = "First";
        test.Nodes.Add(new NodeDTO { Name = "Second", Nodes = new List<NodeDTO>()  });
        var test2 = new NodeDTO();
        test2.Name = "Third";
        test2.Nodes.Add(new NodeDTO { Name = "Fourth", Nodes = new List<NodeDTO>() });
        TopLevelItems.Add(test);
        TopLevelItems.Add(test2);
     
    }

   

   
    
}
